{% extends "base.html.twig" %}

{% block body %}
    <div class="count">
        Wszystkich produktów: {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Currency</th>
            <th>Added</th>
        </tr>
        {% for article in pagination %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.currency }}</td>
                <td>{{ article.createdAt | date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('add') }}">Add product</a>
{% endblock %}